extends layout

block content
  h1= title
  p Welcome to #{title}
  button(onmousedown='move("left")', onmouseup='stop("left")') Move Left
  button(onmousedown='move("up")', onmouseup='stop("up")') Move Up
  button(onmousedown='move("right")', onmouseup='stop("right")') Move Right

