extends layout

block content
  h1= title
  p Welcome to #{title}
  button(onmousedown='move("ArrowLeft")', onmouseup='stop("ArrowLeft")') Move Left
  button(onmousedown='move("ArrowUp")', onmouseup='stop("ArrowUp")') Move Up
  button(onmousedown='move("ArrowRight")', onmouseup='stop("ArrowRight")') Move Right

